@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This web app was written by Brian Bird as an example of how to use the ASP.NET Core MVC framework for
       the web development courses CS295N and CS296N at Lane Community College.
    </p>
</div>