@model QuizVM
@{
    ViewData["Title"] = "Author Quiz";
}

<div>
    <h1 class="display-4">Author Quiz</h1>
    <form method="post" class="container">
        <label asp-for="UserAnswer1" class="control-label">Who wrote Les Misérables?</label>
        <input asp-for="UserAnswer1" type="text" class="form-control pb-1" />
        <span asp-validation-for="UserAnswer1" class="text-danger"></span>
        <p>@Model?.RightOrWrong1</p>
        <br />
        <label asp-for="UserAnswer2">What year was Charles Dickens born?</label>
        @*<input asp-for="UserAnswer2" type="number" class="form-control pb-1" />*@
        <select asp-for="UserAnswer2" class="form-control pb-1">
            <option value="">Select a year...</option>
            <option value="1945">1945</option>
            <option value="1812">1812</option>
            <option value="1783">1783</option>
            <option value="1902">1902</option>
        </select>
        <span asp-validation-for="UserAnswer2" class="text-danger"></span>
        <p>@Model?.RightOrWrong2</p>
        <br />
        <p class="row">The book &nbsp; <em>1984</em> &nbsp; was written in 1984</p>
        <div class="row form-check">
            <input asp-for="UserAnswer3" id="true" type="radio" value="true" class="form-check-input col-1" />
            <label for="true" class="col-2 form-check-label">&nbsp; True</label>
        </div>
        <div class="row form-check">
            <input asp-for="UserAnswer3" id="false" type="radio" value="false" class="form-check-input col-1" />
            <label for="false" class="col-2 form-check-label">&nbsp; False</label>
            <span asp-validation-for="UserAnswer3" class="text-danger"></span>
        </div>
        <p>@Model?.RightOrWrong3</p>

        <br />
        <input type="submit" class="form-control btn" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}