@model List<string>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>

    <h3>Books reviewed on this site</h3>

    @foreach (string title in Model)
    {
        <span class="m-3">@title</span>
        <br />
    }
</div>