@model Review
@{
    ViewData["Title"] = "Review";
}
<h1>Book Review</h1>
<strong>Enter your Review</strong>
<br />
<form method="post" class="container">
    <div class="row p-2">
        <label asp-for="BookTitle" class="control-label col-md-1">Title</label>
        <input asp-for="BookTitle" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <label asp-for="AuthorName" class="control-label  col-md-1">Author</label><br />
        <input asp-for="AuthorName" class="form-control col-md-6" /><br />
    </div>
    <div class="row p-2">
        <label asp-for="Reviewer.Name" class="control-label  col-md-1">Reviewer</label><br />
        <input asp-for="Reviewer.Name" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <label asp-for="ReviewText" class="control-label  col-md-1">Review</label><br />
        <textarea asp-for="ReviewText" placeholder="Write your review here" class="form-control col-md-6"><br />
</textarea>
        <span asp-validation-for="ReviewText" class="text-danger"></span><br />
    </div>
    <div class="row p-2">
        <label asp-for="Rating" class="control-label  col-md-1">Rating</label><br />
        <input asp-for="Rating" min="1" max="5" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
    </div>
</form>